<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Responsibilities</h2>
                <hr class="light">
                <p class="text-faded">
                    1. Work in a small group of engineers and be responsible for team development for both technical depth, productivity, and career advancement.<br>
                    <br>
                    2. Design and develop robust, scalable and secure offline and online payment infrastructure that offers multiple options and currencies to all out users across the world.<br>
                    <br>
                    3. Be technically responsible and accountable.<br>
                    <br>
                    4. Documentation of solutions developed for customer support.<br>
                    <br>
                    5. Control and monitoring of customer communication and escalation messages.<br>
                </p>
            </div>
        </div>
    </div>
</section>
