<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Technical Support Engineer-Payment(支付平台工程师)</h1>
            <hr>
            <p>
                Want to be part of a team where every person you work with is someone you respect and learn from?<br />

                Where the culture support rapid innovation and excellent execution?<br />

                That is what you get at Decathlon IT department, where high performance, freedom and responsibility are not just buzzwords but integral part of what you do every day.<br />

                As part of the team, you will work on an international payment system able to process transactions Asian zone, connecting to multiple payment processors and supporting many different payment types (credit card, direct debit, and more).<br /> You will also take an active role in leading and fostering innovation in the online and store payments space.<br>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
