<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Qualifications</h2>
                <hr class="light">
                <p class="text-faded">
                    1. Strong interest in resolving technical challenges related to international online and offline payment processing.<br>
                    2. Highly motivated to deliver top tier solution with minimal guidance.<br>
                    3. Quickly adaption to changes in business requirements and work in an agile environment.<br>
                    4. Be curious about emerging technologies and can quickly evaluate and adapt to new technologies.<br>
                    5. Be happy to collaborate with the engineering organization across Decathlon IT department.<br>
                    6. Demonstrated performance in fast paced environment and under pressure.<br>
                    7. Be passionate about learning new technologies and tools.<br>
                    <br>
                    Better to have : <br>
                    1. Strong experiences in payments domain.<br>
                    2. Experience in writing unit tests, integration tests, and code review.<br>
                    3. Experience with Java, web development, php, and mobile development a plus.<br>
                </p>
            </div>
        </div>
    </div>
</section>
